*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page {
}


body {
    font-family: var(--font-family-base), sans-serif;
    background-color: var(--color-bg-white);
    color: var(--color-grey-bedge);
    line-height: 1.6;
    font-size: var(--font-md);
    font-weight: 400;
}


.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    border: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
}


a {
    text-decoration: none;
    color: var(--color-primary-black);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

/*-----------------------------------------*/
