:root {
  /* main colors */
  --color-primary-blue: #002dca;
  --color-light-blue: #4d73f7;
  --color-primary-black: #202020;
  --color-dark-black: #050b20;
  --color-bg-white: #f6f6f6;
  --color-primary-white: #fffdfd;
  --color-grey-bedge: #5d5d5d;
  --color-grey-text: #7a7a7a;
  --color-grey-card: #ececec;
  --color-yellow: #f8a100;
  --color-bg-body: #e0e0e0;
  --color-blue-15op: rgba(0, 45, 202, 0.15);
  --color-blue-6op: rgba(0, 45, 202, 0.06);
  --color-disabled: #d3d3d3;
  --color-section-border: #f3f4f6;
  --border: 2px solid var(--color-blue-15op);
  --border-section: 2px solid var(--color-section-border);
  --input-button-height: 48px;

  /* font */
  --font-family-base: "Mardoto", sans-serif;

  /* borders and shadows */
  --border-color: #eee;
  --border-color-dark: #ddd;
  --shadow-sm: 0 2px 10px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 5px 15px rgba(0, 0, 0, 0.05);
  --shadow-lg: 0 10px 30px rgba(0, 0, 0, 0.3);
  --shadow-section: 0 4px 20px rgba(0, 0, 0, 0.05);
  --card-shadow: 0 8px 25px rgba(0, 45, 202, 0.1);
  --product-card-shadow: 0px 4px 27.3px rgba(172, 172, 172, 0.25);

  /* Адаптивные размеры шрифтов */
  --font-xs: clamp(8px, 1.5vw, 12px);
  --font-sm: clamp(10px, 5vw, 14px);
  --font-md: clamp(12px, 2.5vw, 16px);
  --font-lg: clamp(14px, 3vw, 18px);
  --font-xl: clamp(18px, 4vw, 24px);
  --font-xxl: clamp(24px, 5vw, 32px);
  --font-xxxl: clamp(32px, 6.5vw, 42px);

  /* Адаптивные отступы */
  --spacing-xs: clamp(3px, 0.8vw, 5px);
  --spacing-sm: clamp(6px, 1.5vw, 10px);
  --spacing-md: clamp(10px, 2.2vw, 15px);
  --spacing-lg: clamp(12px, 3vw, 20px);
  --spacing-xl: clamp(20px, 4.5vw, 30px);
  --spacing-xxl: clamp(25px, 6vw, 40px);
  --spacing-xxxl: clamp(35px, 8vw, 60px);
  --spacing-xxxxl: clamp(45px, 10vw, 80px);
  --spacing-xxxxxl: clamp(55px, 12vw, 120px);

  /* Адаптивные радиусы */
  --radius-sm: clamp(1px, 0.3vw, 2px);
  --radius-md: clamp(2px, 0.6vw, 4px);
  --radius-lg: 10px;
  --radius-xl: clamp(12px, 3vw, 20px);
  --radius-xxl: clamp(24px, 6vw, 48px);
  --radius-circle: 50%;

  /* transition */
  --transition-fast: 0.2s;
  --transition-normal: 0.3s;
  --transition-all: all 0.3s ease;
  --transition-slow: 0.5s;

  --container-max-widths: 1440px;
}
