.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 18px;
    width: 304px;
    border-radius: 10px;
}

.card-img{

}


@media (any-hover: hover) {
    .card:hover {
        /*max-height: max-content;*/
        /*transition: all 0.3s ease-out;*/
        box-shadow: 0 4px 8px var(--color-primary-black);
        /*z-index: 2;*/
        /*border-radius: 10px;*/
        /*padding: 0 5px;*/
    }
}
