.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 21px 7px;
    gap: 18px;
    max-width: 290px;
    width: 100%;
    border-radius: 10px;
}

.an-card {
    background: var(--color-primary-white);
    border: var(--border);
    border-radius: var(--radius-xl);
    padding: var(--spacing-md);
    transition: var(--transition-all);
}


.card, .an-card, img, svg {
    /*width: 100%;*/
    /*height: 100%;*/
    object-fit: cover;
    transition: transform 1s cubic-bezier(1, 1, 1, 2);
}


.card:hover, img, svg {
    transform: scale(1.05);
    transition: transform 0.2s ease-out;
}
.an-card:hover {
          box-shadow: var(--shadow-sm);
    transition: transform 0.2s ease-out;
}
