.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 21px 7px;
    gap: 18px;
    max-width: 304px;
    width: 100vh;
    border-radius: 10px;
}
.an-card {
    background: var(--color-primary-white);
    border: var(--border);
    border-radius: var(--radius-xl);
    padding: var(--spacing-md);
    transition: var(--transition-all);
}

@media (any-hover: hover) {
    .card:hover,.an-card:hover {
        transform: translateY(-2px);
        box-shadow: var(--card-shadow);
    }
}


