.details {
    position: relative;
    display: block;
    width: 100%;
    border-bottom: var(--border);
    transition: 0.3s;
    overflow: hidden;
}
.details .btn-outline{
    border-radius: 48px!important;
    border-color: var(--color-primary-blue);
    color: var(--color-primary-blue);
}
.details::after {
    transform-origin: center;
    transition: .3s;
}

.details[open]::after {
    transform: rotate(45deg);
}
.btn-visible{
    display: block;
}
.details[open] .btn-visible{
    transition: var(--transition-slow);
    display: none;
}
.details[open] {
    padding-bottom: 20px;
}

.details[open] .details__title {
    /*margin-bottom: 32px;*/
    color: var(--color-primary-blue);
}

.details__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    cursor: pointer;
    list-style: none;
    transition: .3s;
}

.details__title::-webkit-details-marker {
    display: none;
}

.details-description {
    font-weight: 400;
    font-size: var(--font-md);
    line-height: 19px;
    align-items: center;
    color: var(--color-grey-text);
    margin-bottom: var(--spacing-lg);
}
.details__content {

    margin-bottom: -60px;
}

.details__content p:last-child {
    margin-bottom: 0;
}
.details__content p:first-child {
    margin-top: 0;
}
summary:hover{
    color: var(--color-primary-blue);
    /*background-color:var(--color-primary-white);*/
    padding-left: 3px;
    transition: var(--transition-slow);
}
