.main-nav {
    background-color: var(--color-bg-white);
    padding: var(--spacing-md) var(--spacing-xxxxl);
    filter: drop-shadow(0px 4px 27px rgba(180, 180, 180, 0.25));
}


.main-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px var(--font-xxl);

}
.main-nav .divider{
    width: 31px;
}
.main-nav ul li{
    padding-left: var(--shadow-md);
}
.main-nav ul li a {
    transition: color var(--transition-normal);
    padding: var(--spacing-lg);
}

.main-nav ul li a:hover, .main-nav ul li a.active {
    color: var(--color-primary-blue);
}

.active + .divider-bottom {
    margin-top: 4px;
    display: block;
    width: 100%;
    height: 4px;
    /* Primary Blue */
    background: var(--color-primary-blue);
    border-radius: 0 0 30px 30px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}
@media (max-width: 1300px) {
    .main-nav{
        padding: var(--spacing-sm) var(--spacing-xxl);
    }
    .main-nav ul{
       gap: var(--spacing-sm);
        padding: 0 var(--font-md);
    }
}
@media (max-width: 1200px) {
   .main-nav{
       padding: var(--spacing-sm);
   }

    .main-nav ul{
        gap: 0;
        padding: 0 var(--font-md);
    }
    .main-nav  .divider{
        display: none;

    }
    .main-nav ul li a {
        padding-left: var(--spacing-sm)
    }
}
