/* Main Content */
.main-content {
    min-height: 100vh;
}

.section {
    margin: 0 var(--spacing-xxxxl) var(--spacing-xxxxxl);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--font-xxl);
    position: relative;

}

.section-bg {
    background: var(--color-primary-white);
    border: var(--border-section);
    border-radius: var(--font-md);
    padding: var(--font-xxl);
    /*box-shadow: var(--shadow-section);*/
}

/* Header Section */
.section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1px 0;
    gap: 10px;
    left: 0;
    right: 0;
    width: 100%;
    /*max-width: 789px;*/
    /*height: 44px;*/
}
.section-header .btn-text{
    font-size: 16px;
}

/*.section-title {*/
/*    font-weight: 700;*/
/*    font-size: 36px;*/
/*    line-height: 42px;*/
/*    text-align: center;*/
/*    color: #202020;*/
/*    white-space: nowrap;*/
/*}*/

.section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;

}
@media (max-width: 768px) {
.main-content{
    background: var(--color-primary-white);
}
    .section {
        margin: 0 16px 32px;
        padding-top:20px;
    }
    .section-container{
        display: grid;
        align-items: center;
        justify-content: space-around;
        grid-template-columns: auto auto;
    }
    .section-bg {
        padding: var(--spacing-xxl) var(--spacing-md);
        border: none;
        /*box-shadow: var(--shadow-section);*/
    }
    .section-header {
        margin-top: 32px;
        flex-direction: column;
        height: auto;
        gap: 20px;
    }
    .view-more{
        position: absolute;
        bottom:-42px;
        right: 0;

        /*top: -50px;*/
    }


}
