
/* Product Card */

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    gap: 16px;
    max-width: 302px;
    width: 100%;

    min-height: 450px;
    background: #FFFDFD;
    border: 2px solid #F3F4F6;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.product-card:hover {
    box-shadow: var(--shadow-lg);
    transition: var(--transition-fast);
}

/* Product Image Section */
.product-image-section {
    display: flex;

    flex-direction: column;

    width: 100%;
    height: 215px;
}

.product-image-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.like-button {
    line-height: var(--font-md);
    color: transparent;
}

.like-button:hover {
    color: var(--color-primary-black);
}

.like-button.filled {
    color: var(--color-primary-black);
}

.product-image {
    margin: 0 auto;
    width: 150px;
    height: 165px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}


.product-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 200px;
}




/* Product Info */
.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 10px;
}


/* Price Section */
.price-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;

}

.current-price {
    font-weight: 700;
}

.original-price {
    font-weight: 700;
    font-size: var(--font-md);
    line-height: 19px;
    color: #90A3BF;
    text-decoration: line-through;
}


/* Add to Cart Button */
.add-to-cart-section {
    margin: 0 auto;
    min-width: 100%;
}

.add-to-cart-section .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
}


/* Heart Icon */
.heart-icon {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
}

/* Responsive Design */
@media (max-width: 1320px) {
    .products-grid {
        justify-content: flex-start;
        overflow-x: auto;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .section-title {
        font-size: 28px;
    }

    .cart-button {
        position: static;
        margin-top: 20px;
    }

    .section-header {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    .products-grid {
        gap: 16px;
        padding: 0 10px;
    }

    .product-card {
        min-width: 280px;
        width: 280px;
    }
}
