/* Product Card horizontal */

.product-card.horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    /*gap: 40px;*/
    max-width: max-content;
    width: 100%;
    min-height: unset;
    height: 170px;
}

.product-card.horizontal .add-to-cart-section {
    min-width: 220px;
    width: 100%;
}

.product-card.horizontal .product-image-top {
    max-width: 190px;
    width: 190px;
}
.product-card.horizontal .product-image-section {
    display: flex;
    flex-direction: column;
    max-width: 190px;
    width: 100%;
    height: max-content;
}

.product-card.horizontal .product-image {
    width: 94px;
    height: 104px;
}

.product-card.horizontal .product-info {
    display: flex;
    flex-direction: row;
    padding-top: 12px;
    gap: 40px;
    width: 100%;
}

@media (max-width: 1200px) {
    .product-card.horizontal .product-image-top {
        width:130px ;
    }
    .product-card.horizontal .product-info {
        gap: 15px;
    }
    .product-card.horizontal .add-to-cart-section {
        min-width:180px
    }
    .product-card.horizontal .product-details .description{
        width: 120px!important;
    }
}

@media (max-width: 992px) {
    .product-card.horizontal .product-details .description{
        display: none!important;
        width: 120px!important;
    }
    .product-card.horizontal .product-info {
        flex-direction: column;
        gap: 8px;
        --font-lg: 14px!important;
    }
    .product-card.horizontal .price-section {
        gap: 5px;
        flex-direction: row !important;
    }
    .product-card.horizontal .today-deal-section {
        flex-direction: row;
    }
    .product-card.horizontal{
        height: 180px;
    }
    .product-card.horizontal .today-deal-section {
        font-size:14px;
    }

}

.product-card.horizontal .price-section {
    flex-direction: column;
    white-space: nowrap;
}

.product-card.horizontal .today-deal-section {
    display: flex;
}

.product-card.horizontal .product-details .description {
    --font-sm: 10px;
    width: 185px;
    max-height: 165px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}


.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--font-sm);
    gap: var(--font-md);
    max-width: 302px;
    width: 100%;
    min-height: 450px;
    background: var(--color-primary-white);
    border: var(--border-section);
    border-radius: var(--radius-lg);
    transition: var(--transition-all);
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-2px);
    box-shadow: var(--card-shadow);
    transition: var(--transition-slow);
}

.product-card:hover .product-image {
    transform: scale(1.05);
    filter: brightness(1.1);
    transition: var(--transition-all);
}

.product-card .product-image {
    transform: scale(1);
    transition: var(--transition-all);
}

/* Product Image Section */
.product-image-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 215px;
}

.product-image-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.like-button {
    line-height: var(--font-md);
    color: transparent;
}

.like-button:hover {
    color: var(--color-primary-black);
}

.like-button.filled {
    color: var(--color-primary-black);
}

.product-image {
    margin: 0 auto;
    max-width: 150px;
    width: 100%;
    height: 165px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.product-image img:hover {
    /*transform: translateY(-2px);*/
    /*box-shadow: var(--card-shadow);*/
    /*transition: var(--transition-all);*/
}

/* Product Info */
.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 10px;
}

/* Price Section */
.price-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.current-price {
    font-weight: 700;
    font-size: var(--font-lg);
    line-height: 19px;
    color: var(--color-primary-black);
}

.original-price {
    font-weight: 700;
    font-size: var(--font-md);
    line-height: 19px;
    color: #90a3bf;
    text-decoration: line-through;
}

.today-deal-section {
    display: none;
    white-space: nowrap;
    flex-direction: column;
    gap: 6px;
}

.today-deal {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;

    color: #0a6422;
}

.today-deal-count {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-primary-black);
}

/* Add to Cart Button */
.add-to-cart-section {
    margin: 0 auto;
    min-width: 100%;
}

.add-to-cart-section .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
}

@media (max-width: 460px) {
    .product-details .description {
        --font-sm: 10px;
        width: 130px;
        max-height: 165px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    .product-card {
        max-width: 163px;
        width: auto;
        /*width: 100%;*/
    }
}
