
.social {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social__item {
}

.social__link {
    display: flex;
    align-items: center;
    transition: var(--main-trs);
    color: var(--primary);

}

.social__link svg {
    fill: currentColor;
}
 .social__link:hover {
    color: var(--hover-color);
}